<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about the author</title>
    <link rel="stylesheet" type= "text/css" href="../static/styles/style.css">
</head>
<body>

    <div class="navbar" > 
        <a href="index.html" > Home </a>
        <a href="signup.html"> sign up</a> 
        <a href="author.html"> about author</a>
    </div>

    <h1> about author!</h1>
    
</body>
</html>