<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>entertainment</title>

    <link rel="stylesheet" type= "text/css" href="../static/styles/style.css">
</head>
<body>
    <div class= "flex2">
        <h1> entertainment !</h1>
    </div>


    <div class="navbar" > 
        <a href="index.html" > Home </a>
        <a href="signup.html"> sign up</a> 
    </div>

    <h2>Places I've been</h2>
    <h3> Westfield Valley Fair (Mall)</h3>
    <img src="https://www.sanjose.org/sites/default/files/styles/listing_detail_image/public/2017-10/valleyfair.jpg.webp?itok=rVARAkhe">
    <h4> You can never go wrong with shopping or hanging out a mall. There's so much to do as there are many places to eat, shop, and there's even a theater, so you can watch movies. Overall, it;s a good place to hangout for a whole day and you can never get bored becase you've got all the essentials</h4>
</body>
</html>