<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>entertainment</title>

    <link rel="stylesheet" type= "text/css" href="../static/styles/style.css">
</head>
<body>

    <div class="navbar" > 
        <a href="index.html" > Home </a>
        <a href="signup.html"> Sign Up</a> 
        <a href="author.html"> About Author</a>
    </div>

    <div class= "flex2">
        <h1> entertainment !</h1>
    </div>

    <h2>Places I've been</h2>
    <div class="flex3">
        <div class="images">
            <h3> Westfield Valley Fair (Mall)</h3>
            <img src="https://www.sanjose.org/sites/default/files/styles/listing_detail_image/public/2017-10/valleyfair.jpg.webp?itok=rVARAkhe" width="200px" height="200px">
            <h4> You can never go wrong with shopping or hanging out a mall. There's so much to do as there are many places to eat, shop, and there's even a theater, so you can watch movies. Overall, it;s a good place to hangout for a whole day and you can never get bored becase you've got all the essentials.</h4>
        </div>

    <div class="images">
        <h3> AMC Mercado 20</h3>
        <img src="https://amc-theatres-res.cloudinary.com/amc-cdn/production/2/theatres/447/04470_desktop.jpg" width="200px" height="200px">
        <h4>It's a movie theater and there's also a shopping center around with food, such as Paris Baguette, Krispy Kreme, and In-n-out. Overall, it;ll be fun to catch a movie or two and then if ur bored, or hungry there's a lot of good food places nearby.</h4>
    </div>

    </div>


</body>
</html>