<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>

    <link rel="stylesheet" type= "text/css" href="../static/styles/style.css">

</head>
<body>
     <!-- <div class = "flex1">  -->
        <div class="navbar" > 
            <a href="index.html" > Home </a>
            <a href="signup.html"> sign up</a> 
            <a href="author.html"> about author</a>
        </div>
        
        <div class="flex2" >
            <h1> Places to go in Santa Clara!  </h1>
        </div>
            <div class="info"> 

                <h2> welcome! let's find some places for you to go to in santa clara!
                    in the search bar below please type in nature if you would like to visit a park or trail,
                   or just do something in nature. 
                   if you would like to watch a movie or something(tbd), then please type in entertainment in the search bar below! </h2>
              <img src= "https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Map_of_California_highlighting_Santa_Clara_County.svg/1041px-Map_of_California_highlighting_Santa_Clara_County.svg.png?20240625230325" alt="santa clara" width="400px" height="400px">
              
            </div>

       <form action ="{{url}}" method="POST">
        <label for="Search activity"> Do you want to do an activity in nature or entertainment? </label><br>
        <input type="text" id = "query" name = "query" value=""><br>
        <input type="submit" value="search">
    </form>
     <!-- </div> -->

</body>
</html>