<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nature</title>

    <link rel="stylesheet" type= "text/css" href="../static/styles/style.css">
</head>
<body>

    <div class="navbar" > 
        <a href="index.html" > Home </a>
        <a href="signup.html"> Sign Up</a> 
        <a href="author.html"> About Author</a>

    </div>
    <div class="flex2">
        <h1> nature !</h1>
    </div>

    <div class="flex3">
        <h2> Places I've been</h2>
<div class="images">
    <h3> Alviso Marina County Park</h3>
    <img src = "https://www.sanjose.org/sites/default/files/2017-11/j.jpg" alt="park1" width="200px" height="200px">
    <h4> Here, you can walk around the boardwalk and see the backwaters of the bay. Even though it is in Alviso, it's still pretty close to Santa Clara. You can view the salt ponds and it's a good place for good photos at sunset. You can also go kayaking here.</h4>

</div>
<div class="images">
    <h3> Central Park (Santa Clara) </h3>
    <img src="https://www.tclf.org/sites/default/files/styles/full_width/public/thumbnails/image/CA_SantaClara_SantaClaraCentralPark_byTomJFox_2019_020_sig.jpg?itok=FSu89gHW" alt="park2" width="200px" height="200px">
    <h4> Here, you can have picnics with your friends, play with your pet, or play volleyball or other sports considering there is a big grass field. It also helps that there's a library near by, so if you get bored or tired, you can go read.</h4> 
</div>




    </div>



    
</body>
</html>