 .flex1{
    display: flex;
    justify-content: center;
}

.flex2 h1{
    color:#339989;
    text-align:center;
    font-size: 100px;
    height:50px;
    /* background-color:rgb(233, 152, 198); */
    padding:20px;
    margin: 20px; 
    text-align: center;
}

.navbar{
    display: flex;
    background-color: rgb(249, 181, 181);
    width: 40%;
}

.navbar a {
    color: white;
    padding: 20px 50px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
  }

body{
    background-color: #F7EDE2;
}

img{
    display:flex;
    padding: 20px;
    margin:20px; 
    align-items: center;

    
}
