 .flex1{
    display: flex;
    justify-content: center;
} 

.navbar{
    display: flex;
    background-color: rgb(255, 38, 0);
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

body{
    background-color: red;
}